<div class="search-widget" id="tmr-search" ng-controller="SearchFormController as form">
	<div class="widget-header">
		<h2>Refine search</h2>
	</div>
	<form id="app-viewport-tools-search" ng-submit="form.submit()">
		<ol class="questions form-section">
			<li class="widget-col-full">
				<label for="location">
					<span class="label">Location or postcode</span>
				</label>
				<input type="text" name="location" id="location" size="30" value="" placeholder="Enter location or postcode" />
			</li>
			<li class="widget-col-half-left">
				<label for="distance">
					<span class="label">Radius</span>
				</label>
				<select name="distance" id="distance">
					<option value="1000">1000km</option>
					<option value="50">50km</option>
				</select>
			</li>
			<li class="widget-col-half-right">
				<label for="service">
					<span class="label">Service</span>
				</label>
				<select name="Services" id="service">
					<option value="">All</option>
					<option value="Licensing">Licensing</option>
					<option value="Registration">Registration</option>
					<option value="Driver testing">Driver testing</option>
					<option value="Pre-registration inspections">Pre-registration inspections</option>
					<option value="Industry licensing">Industry licensing</option>
					<option value="Driver authorisations">Driver authorisations</option>
					<option value="Operator accreditations">Operator accreditations</option>
					<option value="Passenger transport">Passenger transport</option>
					<option value="School transport">School transport</option>
				</select>
			</li>
			<li class="widget-col-full">
				<label for="query">Keywords</label>
				<input accesskey="6" type="search" ng-model="form.search.query" id="query" size="25" placeholder="Enter search term" />
			</li>
		</ol>
		<ol class="footer-section questions">
			<li class="footer">
				<ul class="actions">
					<li>
						<strong>
							<input type="submit" value="Filter results" />
						</strong>
					</li>
					<li>
						<input class="reset" type="button" value="Reset" />
					</li>
				</ul>
			</li>
		</ol>
	</form>
</div>


<div id="app-viewport-tools-results">
	<h2 class="resultset-title">
		Displaying results
		<strong>{{ vm.description.start }}–{{ vm.description.end }}</strong>
		of <strong>{{ vm.description.total }}</strong>
		<span ng-if="vm.description.keywords">for <strong>{{ vm.description.keywords }}</strong></span>
	</h2>

	<div class="status info">
		<p><strong>Note</strong>: Select a service centre to find its location, opening hours and the services it offers.</p>
	</div>
	<ol class="search-results">
		<li ng-repeat="result in vm.searchResults | limitTo: vm.pagination.limit">
			<h3>
				<a ng-href="#/{{ result.Title }}">{{ result.Title }}</a>
			</h3>

			<div class="status warn" ng-if="result.MainAlert">
				<h2>Please note</h2>
				{{ result.MainAlert }}
			</div>

			<div class="services" marked="result.Services"></div>
			<p class="meta">
				<strong>Phone:</strong>&nbsp;{{ result.Phone }}
			</p>
			<hr/>
		</li>
	</ol>

	<!-- pagination -->
	<div id="pagination">
		<ul>
			<li ng-if="vm.pagination.previous" class="previous"><a href="#/?page={{ vm.pagination.previous }}">Previous</a></li>
			<li ng-repeat="page in vm.pagination.pages" ng-switch="page === vm.pagination.current">
				<span ng-switch-when="true">{{ page }}</span>
				<a ng-switch-default ng-href="#/?page={{ page }}">{{ page }}</a>
			</li>
			<li ng-if="vm.pagination.next" class="next"><a href="#/?page={{ vm.pagination.next }}">Next</a></li>
		</ul>
	</div>
</div>