<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-AU" lang="en-AU" data-ng-app="qgovMam" data-ng-controller="QgovTemplateController">
<head prefix="og: http://ogp.me/ns#">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{ swe.pageTitle }} | {{ swe.franchiseName }} | Queensland Government</title>
	<base href="/demo/victims/" />

<!--#set var="franchise" value="FRANCHISE_ID"-->
<!--#set var="title" value="TITLE"-->

<!--#include virtual="/assets/includes/global/head-assets-styles.html"-->
<link rel="stylesheet" href="//static.qgov.net.au/assets/v2/style/qgov-map.css" />
<!--#include virtual="/assets/includes/global/head-assets-scripts.html"-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-animate.min.js"></script>

	<meta name="description" content="DESCRIPTION" />
	<meta name="keywords" content="KEYWORDS" />

	<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
	<link rel="schema.AGLSTERMS" href="http://www.agls.gov.au/agls/terms/" />

	<meta name="DCTERMS.creator" scheme="AGLSTERMS.GOLD" content="c=AU; o=The State of Queensland; ou=DEPARTMENT NAME; ou=UNIT NAME" />
	<meta name="DCTERMS.publisher" scheme="AGLSTERMS.AglsAgent" content="corporateName=The State of Queensland; jurisdiction=Queensland" />
	<meta name="DCTERMS.created" content="YYYY-MM-DD" />
	<meta name="DCTERMS.modified" content="YYYY-MM-DD" />
	<meta name="DCTERMS.title" content="{{ swe.pageTitle }} | {{ swe.franchiseName }}" />
	<meta name="DCTERMS.description" content="DESCRIPTION" />
	<meta name="DCTERMS.subject" scheme="AGLSTERMS.APAIS" content="SUBJECT" />
	<meta name="AGLSTERMS.function" scheme="AGLSTERMS.AGIFT" content="FUNCTION" />
	<meta name="DCTERMS.identifier" scheme="DCTERMS.URI" content="URL_OF_PAGE" />
	<meta name="DCTERMS.type" scheme="DCTERMS.DCMIType" content="Text" />
	<meta name="AGLSTERMS.documentType" scheme="AGLSTERMS.agls-document" content="AGLS_DOCUMENT_TYPE" />
	<meta name="DCTERMS.audience" scheme="AGLSTERMS.agls-audience" content="AGLS_AUDIENCE" />
	<meta name="DCTERMS.jurisdiction" scheme="AGLSTERMS.AglsJuri" content="Queensland" />
	<meta name="DCTERMS.license" scheme="DCTERMS.URI" content="http://creativecommons.org/licenses/by/3.0/au/" />
	<meta name="DCTERMS.source" scheme="DCTERMS.URI" content="https://data.qld.gov.au/dataset/victim-support-services/resource/96d6b499-e402-409c-9c91-e8c02f2801c8" />
</head>

<body id="qld-gov-au" class="residents">

<!--#include virtual="/assets/includes/global/header.html"-->

	<div id="page-container"><div class="max-width">
		<div id="breadcrumbs">
			<h2>You are here:</h2>
			<ol>
<!--#include virtual="/assets/includes/global/breadcrumb-citizen.html"-->
				<li><a href="/{{ swe.franchisePath }}/">{{ swe.franchiseName }}</a></li>
				<li class="last-child">{{ swe.pageTitle }}</li>
			</ol>
		</div>

		<div id="content-container">
			<div id="content">
				<div class="article"><div class="box-sizing"><div class="border" id="article">

<!--#include virtual="/assets/includes/global/global-alert.html"-->

					<h1>{{ swe.pageTitle }}</h1>

<!--#include virtual="/assets/includes/global/page-options-pre.html"-->


					<div data-ng-controller="qgovMapController"><div id="map_canvas"></div></div>
					<div data-ui-view data-autoscroll="false"></div>


				</div></div></div><!-- end .article, .box-sizing, .border -->
			</div><!-- end #content -->

			<div id="asides"><div class="box-sizing"><div class="border">
				<!--#include virtual="/assets/includes/global/global-aside.html"-->

				<div class="aside search" ng-controller="SearchFormController as form">
					<h2>Search</h2>
					<form class="search" ng-submit="form.submit()" id="app-viewport-tools-search">
						<fieldset>
							<legend>Search by service name</legend>
							<label class="visuallyhidden" for="query">Enter search term</label>
							<input ng-model="form.search.query" id="query" type="search" size="25" placeholder="Enter service name" value="">
						</fieldset>
						<fieldset>
							<legend>Search by service type</legend>
							<ol class="questions">
								<li>
									<label for="service"></label>
									<select ng-model="form.search[ 'Support services' ]" id="service">
										<option value="" selected="">All</option>
										<option value="General services for victims of crime">General services</option>
										<option value="Victims of sexual offences">Victims of sexual offences</option>
										<option value="Victims of domestic violence and family violence">Domestic/family violence victims</option>
										<option value="Children and young victims of crime">Children and young victims</option>
										<option value="Families and friends of victims who have died">Families and friends of victims</option>
										<option value="Victims of crime with a disability">Victims of crime with a disability</option>
										<option value="Aboriginal and Torres Strait Islander victims of crime">Aboriginal &amp; Torres Strait Islander victims</option>
										<option value="Victims of mentally ill offenders">Victims of mentally ill offenders</option>
										<option value="Legal support for victims of crime">Legal support for victims of crime</option>
									</select>
								</li>
							</ol>
						</fieldset>
						<fieldset>
							<legend>Search by service region</legend>
							<ol class="questions">
								<li>
									<label for="region"></label>
									<select ng-model="form.search.Region" id="region">
										<option value="" selected="">All</option>
										<option value="Far North Queensland">Far North Queensland</option>
										<option value="North Queensland">North Queensland</option>
										<option value="Central Queensland">Central Queensland</option>
										<option value="Sunshine Coast">Sunshine Coast</option>
										<option value="Greater Brisbane">Greater Brisbane</option>
										<option value="Gold Coast">Gold Coast</option>
										<option value="South West Queensland">South West Queensland</option>
									</select>
								</li>
							</ol>
						</fieldset>
						<ul class="actions">
							<li><strong><input type="submit" value="Search"></strong></li>
						</ul>
					</form>
				</div>

			</div></div></div><!-- end #asides, .box-sizing, .border -->

			<div id="meta-wrapper"><div class="meta-box-sizing"><div class="border">

				<div id="document-properties"><div class="box-sizing">
					<dl>
						<dt class="visuallyhidden">Licence</dt>
						<dd id="document-licence">
<!--#include virtual="/assets/includes/global/licence-cc-by.html"-->
						</dd>

						<dt>Last updated</dt>
						<dd>D MONTH_NAME YYYY</dd>
					</dl>
				</div></div>

<!--#include virtual="/assets/includes/global/page-options-post.html"-->

			</div></div></div><!-- end #meta-wrapper, .meta-box-sizing, .border -->

		</div><!-- end #content-container -->

		<div id="nav-section">
			<div class="box-sizing">
				<h2><a href="THEME_OR_TOPIC_URL">THEME_OR_TOPIC_NAME</a></h2>
				<ul>
					<!-- PUT YOUR MENU HERE -->
				</ul>
			</div>
		</div>

	</div></div><!-- end #page-container, .max-width -->


<!--#include virtual="/assets/includes/global/footer-page.html"-->
<script src="/assets/mam.js"></script>
<!--#include virtual="/assets/includes/global/footer-stats.html"-->

</body>
</html>
