<div id="view">
	<div id="app-viewport-info">
		<a name="top"></a>

		<h2>{{ vm.item.Title }}</h2>

		<div class="note" marked="vm.item.Freetext"></div>
		<div class="meta" marked="vm.item.Services"></div>
		<div marked="vm.item.servicesnotoffered"></div>
		<div marked="vm.item.Comments"></div>

		<dl class="grid">
			<dt>Address:</dt>
			<dd>
				<div class="caption location adr">
					<span ng-if="vm.item[ 'Address 1' ]"><span class="extended-address">{{ vm.item[ 'Address 1' ] }}</span><br /></span>
					<span class="street-address">{{ vm.item[ 'Address 2' ] }}</span><br />
					<span class="locality">{{ vm.item.Suburb }}</span>&nbsp;
					<span class="region">QLD</span>&nbsp;
					<span class="postal-code">{{ vm.item.Postcode }}</span>
				</div>
			</dd>
			<dt>Postal address:</dt>
			<dd>
				<div class="caption location adr">
					<span ng-if="vm.item[ 'Postal address 1' ]"><span class="extended-address">{{ vm.item[ 'Postal address 1' ] }}</span><br /></span>
					<span class="street-address">{{ vm.item[ 'Postal address 2' ] }}</span><br />
					<span class="locality">{{ vm.item[ 'Postal suburb' ] }}</span>&nbsp;
					<span class="region">QLD</span>&nbsp;
					<span class="postal-code">{{ vm.item[ 'Postal postcode' ] }}</span>
				</div>
			</dd>
			<dt>Phone:</dt>
			<dd>{{ vm.item.Phone }}</dd>
			<dt>Fax:</dt>
			<dd>{{ vm.item.Fax }}</dd>
		</dl>

		<p marked="vm.item.NonTMR"></p>

		<table>
			<caption>
				Opening hours for transport services
			</caption>
			<thead>
				<tr colspan="3">
					<th>Day</th>
					<th>Morning</th>
					<th>Afternoon</th>
				</tr>
			</thead>
			<tbody class="weekdays">
				<tr class="even">
					<th>Monday</th>
					<td>{{ vm.item[ 'Mon am' ] }}</td>
					<td>{{ vm.item[ 'Mon pm' ] }}</td>
				</tr>
				<tr>
					<th>Tuesday</th>
					<td>{{ vm.item[ 'Tues am' ] }}</td>
					<td>{{ vm.item[ 'Tues pm' ] }}</td>
				</tr>
				<tr class="even">
					<th>Wednesday</th>
					<td>{{ vm.item[ 'Wed am' ] }}</td>
					<td>{{ vm.item[ 'Wed pm' ] }}</td>
				</tr>
				<tr>
					<th>Thursday</th>
					<td>{{ vm.item[ 'Thurs am' ] }}</td>
					<td>{{ vm.item[ 'Thurs pm' ] }}</td>
				</tr>
				<tr class="even">
					<th>Friday</th>
					<td>{{ vm.item[ 'Fri am' ] }}</td>
					<td>{{ vm.item[ 'Fri pm' ] }}</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>